<ion-view class="settings_view" view-title="Настройки">
  <ion-content>
    <ion-list>
      <div class="photo">
        <div class="image"></div>
      </div>
      <div class="item item-divider">
        Основная информация
      </div>
      <div class="item">
        Ваше имя
        <span class="item-note">
          Юрий
        </span>
      </div>
      <div class="item">
        Дата рождения
        <span class="item-note">
          16.10.1989
        </span>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Пол
        </div>
        <select>
          <option selected>Мужской</option>
          <option>Женский</option>
        </select>
      </label>
      <div class="item item-divider">
        Анкеты
      </div>
    </ion-list>
  </ion-content>
</ion-view>
